<h2>New Batch</h2>
  <form (ngSubmit)="onSubmit()" #orderBatchForm="ngForm">
    <mat-form-field>
      <mat-label>Batch Size</mat-label>
      <input matInput [(ngModel)]="batchSize" name="batchSize" type="number" max="10">
      <mat-hint>Number of orders in batch<br>(Default: Random; Max: 1000)</mat-hint>
    </mat-form-field>
    <button class="submit-button" mat-raised-button type="submit" [disabled]="batchSize > 1000">Submit Batch</button>
  </form>
<br>

<h2>Batches</h2>
<table>
  <thead>
    <tr>
      <td>Batch Id</td>
      <td>Batch Timestamp</td>
      <td>Shipped Orders</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderBatch of (orderBatches$ | async)">
      <td>{{ orderBatch.id }}</td>
      <td>{{ orderBatch.batchTimestamp }}</td>
      <td>{{ orderBatch.shippedOrders ? orderBatch.shippedOrders : 0 }}/{{ orderBatch.orders.length }}</td>
    </tr>
  </tbody>
</table>

<h2>Order Updates <mat-slide-toggle [(ngModel)]="displayOrderUpdates" (toggleChange)="toggleOrderUpdates()"></mat-slide-toggle></h2>
<div *ngIf="displayOrderUpdates">
  <div *ngFor="let orderUpdate of orderUpdates$ | async">
      {{ orderUpdate | json }}
  </div>
</div>
